.pareto-scatterplot {
    margin: 0 0 0 0;
}

.chart {
    display: block;
    float: none;
}

.filter-reduce-charts-container {
    display: inline-block;
    width: 105px;
}

.filter-reduce-labels-container {
    display: inline-block;
    width: 75px;
    margin-top: 100px;
    vertical-align: top;
}

.filter-reduce-row-label {
    display: block;
    font-size: 12px;
    text-align: right;
    padding-top: 48px;
    height: 52px;
    position: relative;
}

.filter-reduce-charts-container .title {
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}

.chart-placeholder {
    height: 100px;
    margin-bottom: 5px;
}