.pareto-scatterplot {
    margin: 0 0 0 0;
}

.chart {
    display: block;
    float: none;
    position: relative;
}

.filter-reduce-charts-container {
    display: inline-block;
    width: 120px;
}

.filter-reduce-labels-container {
    display: inline-block;
    width: 20px;
    margin-top: 190px;
    vertical-align: top;
}

.filter-reduce-row-label {
    display: block;
    font-size: 16px;
    text-align: right;
    width: 0px;
    height: 120px;
    position: relative;
}

.filter-reduce-charts-container .title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.chart-placeholder {
    height: 120px;
    width: 120px;
    margin-bottom: 5px;
}

span.filter-reduce-row-label-text {
    display: block;
    transform: rotate(-90deg);
}

.histogram {
    height: 80px;
}

.parcoords-container {
    height:calc(120px - 8px);
    /* Approxiate workaround to level other charts with parallel coordintes. */
    padding-top: 8px;
}

.parcoords {
    position: absolute;
}

.filter-reduce-operator {
    height: 70%;
}

.filter-reduce-charts-panel {
}

.filter-reduce-table-panel {
}

/* Lower canvas' z-index so that highlighting is visible on top. */
.filter-reduce-charts-container canvas {
    z-index: -1;
}