.pareto-scatterplot {
    margin: 0 0 0 0;
}

.chart {
    display: block;
    float: none;
}

.filter-reduce-charts-container {
    display: inline-block;
    width: 105px;
}

.filter-reduce-labels-container {
    display: inline-block;
    width: 10px;
    margin-top: 140px;
    vertical-align: top;
}

.filter-reduce-row-label {
    display: block;
    font-size: 12px;
    text-align: right;
    width: 0px;
    height: 105px;
    position: relative;
}

.filter-reduce-charts-container .title {
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}

.chart-placeholder {
    height: 100px;
    margin-bottom: 5px;
}

span.filter-reduce-row-label-text {
    display: block;
    transform: rotate(-90deg);
}

.histogram {
    height: 60px;
}