.dissonance-operator {
    position: relative;
    display: block;
    width: calc(50% - 20px);
}

.dissonance-panel {
    width: 100%;
    height: calc(100% - 55px);
    padding-left: 0px;
    padding-top: 45px;
}

.dissonance-info {
    height: 100px;
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 24px;
}

.dissonance-info .title {
    margin-right: 10px;
    font-weight: bold;
}

.dissonance-charts-container {
    width: 80%;
    height: calc(100% - 10px);
    position: relative;
    background: #ccc;
    margin-left: auto;
    margin-right: auto;
}

.dissonance-variance-chart.horizontal {
    position: relative;
    z-index: 1;
}

.dissonance-variance-chart.vertical {
    transform: rotate(270deg);
    display: block;
    position: absolute;
}

.dissonance-heatmap {
    position: relative;
    margin-left: 29px;
    top: -40px;
    z-index: 0;
}