.pareto-scatterplot {
    margin: 0 0 0 0;
}

.chart {
    display: block;
    float: none;
    position: relative;
}

.filter-reduce-charts-container {
    display: inline-block;
    min-width: 20px;
    width: 7.3%;
    margin-top: 25px;
    position: relative;
}

.filter-reduce-labels-container {
    display: inline-block;
    width: 75px;
    margin-top: 105px;
    vertical-align: top;
    overflow: hidden;
}

.filter-reduce-row-label {
    display: block;
    font-size: 16px;
    text-align: right;
    width: 0px;
    height: 10px;
    margin-bottom: 59px;
    position: relative;
}

.filter-reduce-charts-container .title {
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: -25px;
    width: 150px;
    left: 0px;
}

.chart-placeholder {
    height: 65px;
    width: 7.3%;
    margin-bottom: 4px;
}

span.filter-reduce-row-label-text {
    display: block;
}

.histogram {
    height: 65px;
}

.parcoords-container {
    height:calc(65px - 8px);
    /* Approxiate workaround to level other charts with parallel coordintes. */
    padding-top: 8px;
}

.parcoords {
    position: absolute;
}

.filter-reduce-operator {
    height: 54%;
}

.filter-reduce-charts-panel {
}

.filter-reduce-table-panel {
    display: none;
}

/* Lower canvas' z-index so that highlighting is visible on top. */
.filter-reduce-charts-container canvas {
    z-index: -1;
}

.filter-reduce-info {
    height: 100px;
    position: absolute;
    top: 55px;
    right: 35px;
    font-size: 24px;
}

.filter-reduce-info .title {
    margin-right: 10px;
    font-weight: bold;
}