.model-detail-operator {
    display: none;
    position: absolute;
}

#model-detail-parameter-pane {
    height: calc(100% - 10px);
}

.model-detail-pane {
    text-align: center;
}

.model-details-block {
    height: calc(100% - 10px);
    padding-top: 10px;
}

.model-details-title {
    margin-bottom: 10px;
}

.model-detail-sparkline-container {
    font-size: 11px;
}

.reduced-padding {
    padding-top: 0;
}

.jqstooltip {
    border:none !important;
    box-sizing:content-box;
}

.model-detail-sparkline-container {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 5px;
    width: 150px;
}

.model-detail-sparkline-container .attr-label {
    display: inline-block;
    position: relative;
    width: 50px;

}

.model-detail-sparkline {
    display: inline-block;
    width: 100px;
}

.model-detail-table {
    height: 200px;
}