<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Load externally defined .css files. -->
    <link rel="stylesheet" href="./static/lib/pure-1.0.0/pure-min.css">
    <link rel="stylesheet" href="./static/lib/dc.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="./static/lib/ion_rangeslider/css/normalize.css" />
    <link rel="stylesheet" href="./static/lib/ion_rangeslider/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="./static/lib/ion_rangeslider/css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="./static/lib/c3-0.4.18/c3.css" rel="stylesheet">
    <link rel="stylesheet" href="./static/lib/lcSwitch/lc_switch.css" rel="stylesheet">
     <!-- Load custom .css files. -->
    <link rel="stylesheet" href="./static/css/dropdown.css">
    <link rel="stylesheet" href="./static/css/skeleton.css">

    <!-- Load icon. -->
    <link rel="icon" type="image/png" href="./static/img/icon.png">

    <!-- Page title. -->
    <title>DROP {{version}}</title>
</head>

<body>
    <!------------------------------------------------------>
    <!-- Base HTML template. Will be initialized with JS. -->
    <!------------------------------------------------------>

    <div>
        <div class="header">
            <div class="pure-menu pure-menu-horizontal">
                <a class="pure-menu-heading" id='icon-link' href="/"> <img src="./static/img/icon_white.png" class="navIconImage" alt="DROP" width="20px">DROP</a>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item" id="menu_prototype" onclick="#">
                        <a href="#menu_protoype" class="pure-menu-link">Prototype</a>
                    </li>

                    <li class="pure-menu-item" id="menu_about" onclick="#">
                        <a href="#menu_about" class="pure-menu-link">About</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Dashboard content loaded by jquery. -->
        <div class="dashboard" id="dashboard">
            <div class="hypobj_container"></div>
        </div>
    </div>

    <!------------------------------------------------------>
    <!-- Include JS files. -->
    <!------------------------------------------------------>

    <!-- JQuery. -->
    <script src="./static/lib/jquery.min.js"></script>
    <script src="./static/lib/jquery-ui-1.2.1.js"></script>
    <!-- queue.js for dependency loading management (needed?). -->
    <script src="./static/lib/queue.js"></script>
    <!-- Range slider for (scented) widgets. -->
    <script src="./static/lib/ion_rangeslider/js/ion.rangeSlider.min.js"></script>
    <!-- Upload of large files. -->
    <script src="./static/lib/resumable.js"></script>
    <!-- Toggle buttons. -->
    <script src="./static/lib/lcSwitch/lc_switch.min.js"></script>
    <!-- d3.js and c3.js -->
    <script src="./static/lib/d3.v3.js" charset="utf-8"></script>
    <script src="./static/lib/c3-0.4.18/c3.min.js"></script>

    <!-- From here: Custom JS code. -->

    <!-- Initialize protoype UI. -->
    <script type="text/javascript" src="./static/js/initializePrototypeUI.js"></script>
</body>

</html>